<header>
            <ul type="none" id="opciones">
                <a href="/dashboard">
                    <li class="link-header"><span>Get</span></li>
                </a>
                <a href="/dashboard/consultar">
                    <li class="link-header"><span>Get: Id</span></li>
                </a>
                <a href="/dashboard/crear">
                    <li class="link-header"><span>Post</span></li>
                </a>
                <a href="/dashboard/modificar">
                    <li class="link-header"><span>Put</span></li>
                </a>
                <a href="/dashboard/eliminar">
                    <li class="link-header"><span>Delete</span></li>
                </a>
            </ul>
    </header>